<html>
    <head>
        <title>Credits | Map Game</title>
        <link rel="stylesheet" href="/static/{{ ver }}/main.css">
    </head>
    <body>
        <h1 id='title'>Credits</h1>
        <div id='centerBox'>
            This game has been developed by Piggah Bro Studios.<br><br>
            <table style="display: inline-table">
                <tr>
                    <td>Programmer</td>
                    <td>Dylan Bulmer</td>
                </tr><tr>
                    <td>Game Designers</td>
                    <td>Jon Meserve</td>
                </tr><tr>
                    <td></td>
                    <td>Justin Bulmer</td>
                </tr><tr>
                    <td>Debugger</td>
                    <td>Tyler Kleiser</td>
                </tr><tr>
                    <td></td>
                    <td>Spencer Dowd</td>
                </tr><tr>
                    <td colspan=2 style="text-align: center">
                        ****
                    </td>
                </tr><tr>
                    <td colspan=2 style="text-align: center">
                        And thank you again for the help
                    </td>
                </tr><tr>
                    <td colspan=2 style="text-align: center">
                        Tyler Kleiser<br>
                        Spencer Dowd<br>
                        Jon Masurve<br>
                        Justin Bulmer<br>
                        Eric Eisaman
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
