<html>
    <head>
        <title>Game #{{ id }} | Map Game</title>
        <link rel="stylesheet" href="/static/{{ ver }}/main.css">
        <link rel="stylesheet" href="/static/{{ ver }}/game.css">
        <link rel="stylesheet" href="/static/css/ionicons.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav>
            Welcome <span id="usernameNav">{{ session['name'] }}</span>
            Game ID: <span id="gameId">{{ session['id'] }}</span>
            Host: <span id="hostName">{{ session['host'] }}</span>
            Players: <span id="numPlayers">{{ session['players'] }}</span>
        </nav>
        <side>
            <chat>
                <div id='chat_main'>
                    <h2 style="padding-top: 10px;">Chat</h2>
                    <box chat="Global" onclick='game.chat.change("global")'>
                        <table>
                            <tr>
                                <td>
                                    <span style="margin:3px;">
                                        <i class="icon ion-earth"></i>
                                    </span>
                                </td>
                                <td>
                                    Global
                                </td>
                            </tr>
                        </table>
                    </box>
                </div>
                <div id='chat_log' style='display: none;'>
                    <h2>Global Chat</h2>
                    <iframe id='log-file' style="height: calc(100vh - 55px)"></iframe>
                </div>
            </chat>
            <stats>
                <h2 style="padding-top: 10px;">Your Stats</h2>
            </stats>
            <apps>
                <h2 style="padding-top: 10px;">Navigation</h2>
                <box onclick = 'game.side.toggle("chat")'>
                    <table>
                        <tr>
                            <td>
                                <span style="margin:3px;">
                                    <i class="icon ion-chatboxes"></i>
                                </span>
                            </td>
                            <td style="text-align: left;">
                                Chat
                            </td>
                        </tr>
                    </table>
                </box>
                <box onclick = 'game.side.toggle("stats")'>
                    <table>
                        <tr>
                            <td>
                                <span style="margin:3px;">
                                    <i class="icon ion-stats-bars"></i>
                                </span>
                            </td>
                            <td style="text-align: left;">
                                Stats
                            </td>
                        </tr>
                    </table>
                </box>
                <box onclick = 'game.side.toggle("settings")'>
                    <table>
                        <tr>
                            <td>
                                <span style="margin:3px;">
                                    <i class="icon ion-gear-a"></i>
                                </span>
                            </td>
                            <td style="text-align: left;">
                                Settings
                            </td>
                        </tr>
                    </table>
                </box>
                <box onclick = 'game.side.toggle("logout")'>
                    <table>
                        <tr>
                            <td>
                                <span style="margin:3px;">
                                    <i class="icon ion-log-out"></i>
                                </span>
                            </td>
                            <td style="text-align: left;">
                                Logout
                            </td>
                        </tr>
                    </table>
                </box>
            </apps>
            <div id='stats-btn' onclick = 'game.side.toggle("stats")'>
                <span style="font-size:24px;margin:3px;display:inline-block;">
                    <i class="icon ion-stats-bars"></i>
                </span>
            </div>
            <div id='side-btn' onclick = 'game.side.toggle("apps")'>
                <span style="font-size:24px;margin:3px;display:inline-block;">
                    <i class="icon ion-android-apps"></i>
                </span>
            </div>
            <div id='chat-btn' onclick = 'game.side.toggle("chat")'>
                <span style="font-size:24px;margin:3px;display:inline-block;">
                    <i class="icon ion-chatboxes"></i>
                </span>
            </div>
        </side>
        <canvas id="map" height='432' width='752'></canvas>
        <script>
            var data = {{ data | safe }};
            var player = {
                "name": "{{ session['name'] }}"
            };
        </script>
        <script src="/static/{{ ver }}/PBSWebKit.js"></script>
        <script src="/static/{{ ver }}/game.js"></script>
    </body>
</html>
