<html>
    <head>
        <title>How to Play | Map Game</title>
        <link rel="stylesheet" href="/static/{{ ver }}/main.css">
    </head>
    <body>
        <h1 id='title'>How to play:</h1></br>
        <p id="desc-page">This is a round based game where every player will pass in their turn to the host at the end of each round. The host does not play the game but they do update the map accordingly to what each person does and they will read out a general summary of the actions taken by the players after the end of each round (excluding successful espionage). The host can also send out a random event for each player, these can be very minor as a new hit film to as major as a mass revolution. Each turn made by the players consists of 4-6 actions per round. These can consists of things from building farms, industries, and military to invading your neighbor or making trade deals and sponsoring rebels. The first person to take over the map wins!</p>
    </body>
</html>
