<html>
    <head>
        <title>Home | Map Game</title>
        <link rel="stylesheet" href="static/{{ ver }}/main.css">
    </head>
    <body>
        <h1 id='title'>Welcome To<br>The<br>Map Game!</h1>
        <div id='selector'>
            <a href="/create">Create Game</a>
            <a href="/join">Join Game</a></br>
            <a href="/credits" style="width: 215px;">Credits</a></br>
            <a href="/how-to-play" style="width: 215px;">How To Play</a>
        </div>
    </body>
</html>
