<html>
    <head>
        <title>Join | Map Game</title>
        <link rel="stylesheet" href="/static/{{ ver }}/main.css">
    </head>
    <body>
        <h1 id='title'>Join a Game!</h1>
        <form id='selector' action="/game/">
            Enter the 5 digit game pin from your host!</br></br>
            <input id="id" type='text' pattern="[0-9]{5}" title="5 digit number" maxlength="5" required/>
            <input type="submit" value="Join Game!">
        </form>
        <script>
            let form = document.getElementById("selector")
            let id = document.getElementById("id")
            var update = function() {
                form.action = "/game/"+id.value;
                window.requestAnimationFrame(update)
            }
            update()
        </script>
    </body>
</html>
